# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
/media/
/staticfiles/

# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Node (if used for frontend)
node_modules/
